%search-bar-title{
    margin: $search-bar-title-margin;
    padding: $search-bar-title-padding;
    font-weight: $search-bar-title-font-weight;
    font-family: $search-bar-title-font-family;
    font-size: $search-bar-title-font-size;
    margin-bottom: $search-bar-title-margin-bottom;
    text-transform: $search-bar-title-text-transform;
    margin-right: $search-bar-title-margin-right;
}