<div class="teaser aem-GridColumn aem-GridColumn--default--8">
	<div
		id="teaser-3f20edefdf"
		class="cmp-teaser"
		data-cmp-data-layer='{"teaser-3f20edefdf":{"@type":"core/wcm/components/teaser/v1/teaser","repo:modifyDate":"2021-09-28T10:12:40Z","dc:title":"BUILDING A HAPPIER WORLD WITH STREETS"}}'
	>
		<div class="cmp-teaser__image">
			<div
				data-cmp-lazythreshold="0"
				data-cmp-src="/content/whitelabel/language-masters/en/walls-home/_jcr_content/root/container/container/teaser_1665066129.coreimg{.width}.jpeg/1632823960758/header-banner-slices-no-copy-1974728-jpg-%281%29.jpeg"
				data-asset="/content/dam/walls-dummy/header_banner_slices_no_copy-1974728-jpg (1).jpg"
				data-asset-id="2711b1a0-df34-4f6f-b709-30585a3f7b93"
				id="image-3f20edefdf"
				data-cmp-data-layer='{"image-3f20edefdf":{"@type":"core/wcm/components/image/v2/image","repo:modifyDate":"2021-09-28T10:12:40Z","image":{"repo:id":"2711b1a0-df34-4f6f-b709-30585a3f7b93","repo:modifyDate":"2021-09-28T10:09:32Z","@type":"image/jpeg","repo:path":"/content/dam/walls-dummy/header_banner_slices_no_copy-1974728-jpg (1).jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
				class="cmp-image"
				itemscope=""
				itemtype="http://schema.org/ImageObject"
			>
				<img
					src="https://asset-apac.unileversolutions.com/content/dam/unilever/heart/global/online_comms_/header_banner_slices_no_copy-1974728-jpg.jpg.ulenscale.1440x360.jpg"
					class="cmp-image__image"
					itemprop="contentUrl"
					data-cmp-hook-image="image"
					alt=""
				/>
			</div>
		</div>
		<div class="cmp-teaser__content">
			<h2 class="cmp-teaser__title">
				BUILDING A HAPPIER WORLD WITH STREETS
			</h2>
		</div>
	</div>
</div>
