$base-font-size: 16 !default;

// These need to be removed
$text-product-copy-description--phone-font-size: 1.4rem;
$text-product-copy-description-line-height: 1;
$text-product-copy-description-font-size: 1.6rem;
