html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: $bg-color;
	color: $txt-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

button {
	cursor: pointer;
}
