<header class="m-header">
	<img src="../../../assets/images/default.png" alt="default" />
	<nav>
		<ul>
			<li><a href="#">Products</a></li>
			<li><a href="#">Collections</a></li>
			<li><a href="#">Get Inspired</a></li>
			<li><a href="#">Recipes</a></li>
			<li><a href="#">Jeans Finder</a></li>
		</ul>
	</nav>
	<div class="utilities">
		<a href="#">
			<svg class="basket">
				<use
					xlink:href="../../../assets/images/icons/ui-basket.svg#basket"
				></use>
			</svg>
		</a>
		<a href="#">
			<svg class="search">
				<use
					xlink:href="../../../assets/images/icons/ui-search.svg#search"
				></use>
			</svg>
			search
		</a>
	</div>
</header>
