
$color-grey: #d3d3d3;
$color-global-yellow: #ffea00;

$color-global-primary: null;
$color-global-secondary: null;
$color-global-tertiary: null;
$color-global-error: #d0021b;

$color-global-white: #fff;
$color-global-black: #000;
$color-global-grey-5: #f2f2f2;
$color-global-grey-10: #e6e6e6;
$color-global-grey-15: #d9d9d9;
$color-global-grey-20: #ccc;
$color-global-grey-25: #bfbfbf;
$color-global-grey-30: #b3b3b3;
$color-global-grey-35: #a6a6a6;
$color-global-grey-40: #999;
$color-global-grey-45: #8c8c8c;
$color-global-grey-50: #808080;
$color-global-grey-55: #737373;
$color-global-grey-60: #666;
$color-global-grey-65: #595959;
$color-global-grey-70: #4d4d4d;
$color-global-grey-75: #404040;
$color-global-grey-80: #333;
$color-global-grey-85: #262626;
$color-global-grey-90: #1a1a1a;
$color-global-grey-95: #0d0d0d;
 $dynamic-form-success-msg-text-btn-hover-background-color: #747474;
$dynamic-form-success-msg-text-btn-background-color: #5a5a5a;
$text-form-widget-heading-color:#333333;
$text-form-widget-desc-color:#4e515e;

$text-form-button-background-color:#1d87ff;
$text-form-button-border-color:#1371b9;
$text-form-button-hover-background-color:#0068de;
$color-magnu-nav-button-background-color:#efefef;

$language-selector-container-bg: #251201;
$language-selector-link-active-color: #333333;
$parallax-background-bg-color: rgba(0, 0, 0, 0.5);

$form-widget-error-color: #e76468;