$font-primary: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;

$font-secondary: Arial, Helvetica Neue, Helvetica, sans-serif;

$text-form-widget-desc-font-family:null;
