
$base-font-size: 0.625em;
$line-height: 1.5;
$font-global-size: 1.6rem;
$font-global-letter-spacing: null;
$font-global-font-family: $font-primary;
$font-global-color: $color-global-black;
$font-global-webkit-font-smoothing: auto;
$font-global-moz-font-smoothing: auto;

$border-thickness: px-to-em(3);
