$accordion-primary-background: null;
$accordion-primary-outline: null;
$accordion-primary-top-border: null;
$accordion-primary-bottom-border: null;

$accordion-item-primary-width: null;
$accordion-item-primary-width-tablet:null;
$accordion-item-primary-width-desktop:null;
$accordion-item-primary-margin: null;
$accordion-item-primary-position: null;

$accordion-header-primary-margin: null;
$accordion-header-primary-padding-top: null;
$accordion-header-primary-padding-bottom: null;

$accordion-panel-primary-font-family: null;
$accordion-panel-primary-font-size: null;
$accordion-panel-primary-color: null;
$accordion-panel-primary-padding: null;
$accordion-panel-primary-text-align: null;

$accordion-panelheader-primary-font-family: null;
$accordion-panelheader-primary-font-size: null;
$accordion-panelheader-primary-color: null;
$accordion-panelheader-primary-margin: 0;


$accordion-panelpara-primary-font-family: null;
$accordion-panelpara-primary-font-size: null;
$accordion-panelpara-primary-color: null;

$accordion-button-primary-font-family: null;
$accordion-button-primary-background: null;
$accordion-button-primary-border: null;
$accordion-button-primary-text-align: null;
$accordion-button-primary-color: null;
$accordion-button-primary-font-size: null;
$accordion-button-primary-font-weight: null;
$accordion-button-primary-text-transform: null;
$accordion-button-primary-hover-color: null;
$accordion-button-primary-position: null;

$accordion-title-primary-display: null;
$accordion-title-primary-width: null;

$accordion-button-icon-primary-content: null;
$accordion-button-icon-primary-transform: null;
$accordion-button-icon-primary-transition: null;
$accordion-button-icon-primary-position: null;
$accordion-button-icon-primary-right: null;
$accordion-button-icon-primary-top: null;
$accordion-button-icon-primary-color: null;
$accordion-button-icon-primary-font-size: null;

$accordion-buttonexpanded-icon-primary-content: null;
$accordion-buttonexpanded-icon-primary-transform: null;
$accordion-buttonexpanded-icon-primary-color: null;


$accordion-secondary-background: null;
$accordion-secondary-outline: null;
$accordion-secondary-top-border: null;
$accordion-secondary-bottom-border: null;

$accordion-item-secondary-width: null;
$accordion-item-secondary-margin: null;

$accordion-header-secondary-margin: null;
$accordion-header-secondary-padding-top: null;
$accordion-header-secondary-padding-bottom: null;

$accordion-panel-secondary-font-family: null;
$accordion-panel-secondary-font-size: null;
$accordion-panel-secondary-color: null;
$accordion-panel-secondary-margin-top: null;
$accordion-panel-secondary-text-align: null;

$accordion-panelheader-secondary-font-family: null;
$accordion-panelheader-secondary-font-size: null;
$accordion-panelheader-secondary-color: null;
$accordion-panelheader-secondary-margin: 0;

$accordion-panelpara-secondary-font-family: null;
$accordion-panelpara-secondary-font-size: null;
$accordion-panelpara-secondary-color: null;

$accordion-button-secondary-font-family: null;
$accordion-button-secondary-background: null;
$accordion-button-secondary-border: null;
$accordion-button-secondary-text-align: null;
$accordion-button-secondary-color: null;
$accordion-button-secondary-font-size: null;
$accordion-button-secondary-font-weight: null;
$accordion-button-secondary-text-transform: null;
$accordion-button-secondary-hover-color: null;
$accordion-button-secondary-position: null;

$accordion-button-secondary-accordion-title-font-size: null;
$accordion-button-secondary-accordion-title-letter-space: null;

$accordion-button-icon-secondary-content: null;
$accordion-button-icon-secondary-transform: null;
$accordion-button-icon-secondary-transition: null;
$accordion-button-icon-secondary-position: null;
$accordion-button-icon-secondary-right: null;
$accordion-button-icon-secondary-bottom: null;
$accordion-button-icon-secondary-color: null;
$accordion-button-icon-secondary-font-size: null;

$accordion-buttonexpanded-icon-secondary-content: null;
$accordion-buttonexpanded-icon-secondary-transform: null;
$accordion-buttonexpanded-icon-secondary-color: null;