$anchorlink-global-display: null;

$anchorlink-container-position: null;
$anchorlink-container-webkit-position: null;
$anchorlink-container-width: null;
$anchorlink-container-height: null;
$anchorlink-container-text-align: null;
$anchorlink-container-padding: null;
$anchorlink-container-margin: null;
$anchorlink-container-background: $color-global-white;
$anchorlink-container-box-shadow: null;

$anchorlink-button-text-transform: null;
$anchorlink-button-text-decoration: null;
$anchorlink-button-font-family: $font-primary;
$anchorlink-button-font-size: null;
$anchorlink-button-font-weight: null;
$anchorlink-button-color: null;
$anchorlink-button-background: null;
$anchorlink-button-border: null;
$anchorlink-button-padding: null;
$anchorlink-button-spacing:null;

$anchorlink-navigation-height:null;
$anchorlink-navigation-margin-bottom:null;