$backtotop-primary-btn-font-family: $font-primary;
$backtotop-primary-btn-width: null;
$backtotop-primary-btn-display: null;
$backtotop-primary-btn-justify-content: null;
$backtotop-primary-btn-background: null;
$backtotop-primary-btn-font-size: null;
$backtotop-primary-btn-text-transform: null;
$backtotop-primary-btn-text-align: null;
$backtotop-primary-btn-border: null;
$backtotop-primary-btn-margin: 0;
$backtotop-primary-btn-letter-spacing: null;
$backtotop-primary-btn-line-height: null;
$backtotop-primary-btn-transition: null;
$backtotop-primary-btn-padding: null;
$backtotop-primary-btn-text-decoration: none;
$backtotop-primary-btn-content: null;
$backtotop-primary-btn-content-padding:null;
$backtotop-primary-btn-hover-background: null;

$backtotop-primary-text-color: null;
$backtotop-primary-text-padding: null;