$button-white-space: null;
$button-primary-color: null;
$button-primary-border: null;
$button-primary-background: null;
$button-primary-font-size: null;
$button-primary-font-size-mobile:null;
$button-primary-font-family: null;
$button-primary-line-height: null;
$button-primary-text-transform: null;
$button-primary-text-decoration: null;
$button-primary-padding: null;
$button-primary-letter-spacing: null;
$button-primary-display: inline-block;

$button-primary-color-hover: null;
$button-primary-background-hover: null;
$button-primary-transition-hover: null;
$button-primary-border-hover: null;

$button-secondary-color: $button-primary-color;
$button-secondary-border: $button-primary-border;
$button-secondary-background: $button-primary-background;
$button-secondary-font-size: $button-primary-font-size;
$button-secondary-font-family: $button-primary-font-family;
$button-secondary-line-height: $button-primary-line-height;
$button-secondary-text-transform: $button-primary-text-transform;
$button-secondary-text-decoration: $button-primary-text-decoration;
$button-secondary-padding: $button-primary-padding;
$button-secondary-letter-spacing: $button-primary-letter-spacing;
$button-secondary-display: $button-primary-display;

$button-secondary-color-hover: $button-primary-color-hover;
$button-secondary-background-hover: $button-primary-background-hover;
$button-secondary-transition-hover: $button-primary-transition-hover;

$button-tertiary-color: $button-primary-color;
$button-tertiary-border: $button-primary-border;
$button-tertiary-background: $button-primary-background;
$button-tertiary-font-size: $button-primary-font-size;
$button-tertiary-font-family: $button-primary-font-family;
$button-tertiary-line-height: $button-primary-line-height;
$button-tertiary-text-transform: $button-primary-text-transform;
$button-tertiary-text-decoration: $button-primary-text-decoration;
$button-tertiary-padding: $button-primary-padding;
$button-tertiary-letter-spacing: $button-primary-letter-spacing;
$button-tertiary-display: $button-primary-display;

$button-tertiary-color-hover: $color-global-white;
$button-tertiary-background-hover: $button-primary-background-hover;
$button-tertiary-transition-hover: $button-primary-transition-hover;

$buy-now-btn-font-family: null;
$buy-now-btn-background-color: null;            
$buy-now-btn-padding: null;
$buy-now-btn-line-height:null;

$button-clear:null;
