$grid-gutter-ver-zero: 0;
$grid-gutter-hor-zero: 0;
$grid-gutter-ver-phablet: 0;
$grid-gutter-hor-phablet: 0;
$grid-gutter-ver-tablet: 0;
$grid-gutter-hor-tablet: 0;
$grid-gutter-ver-desktop: 0;
$grid-gutter-hor-desktop: 0;
$grid-gutter-ver-desktop-wide: 0;
$grid-gutter-hor-desktop-wide: 0;
