$cmp-languagenavigation-accordion-global-diplay-block:block;
$cmp-languagenavigation-accordion-global-diplay-inline-block:inline-block;
$cmp-languagenavigation-accordion-global-width-100pc:100%;
$cmp-languagenavigation-accordion-global-width-24pc:24%;
$cmp-languagenavigation-accordion-global-display-none:none;

$cmp-languagenavigation-accordion-max-width:null;
$cmp-languagenavigation-accordion-group-text-align:null;
$cmp-languagenavigation-accordion-group-text-align-desktop:null;
$cmp-languagenavigation-accordion-group-padding:null;
$cmp-languagenavigation-accordion-padding:null;
$cmp-languagenavigation-accordion-heading-font-size-mobile: null;
$cmp-languagenavigation-accordion-margin-center:null;
$cmp-languagenavigation-accordion-level-one-vertical-align:null;

$cmp-languagenavigation-accordion-heading-font-weight: null;
$cmp-languagenavigation-accordion-heading-line-height: null;
$cmp-languagenavigation-accordion-heading-letter-spacing:null;
$cmp-languagenavigation-accordion-heading-font-family: null;
$cmp-languagenavigation-accordion-heading-color: null;
$cmp-languagenavigation-accordion-heading-text-transform: null;		
$cmp-languagenavigation-accordion-heading-font-size: null;
$cmp-languagenavigation-accordion-heading-padding: null;

$cmp-languagenavigation-accordion-level-one-padding: null;
$cmp-languagenavigation-accordion-level-one-title-font-size: null;
$cmp-languagenavigation-accordion-level-one-title-line-height: null;
$cmp-languagenavigation-accordion-level-one-title-font-weight: null;
$cmp-languagenavigation-accordion-level-one-title-letter-spacing: null;
$cmp-languagenavigation-accordion-level-one-title-color: null;
$cmp-languagenavigation-accordion-level-one-title-hover-color: null;
$cmp-languagenavigation-accordion-level-one-title-cursor:null;
$cmp-languagenavigation-accordion-level-two-title-font-size:null;
$cmp-languagenavigation-accordion-inner-group-padding:null;	