$dynamic-form-element-subheading-fontsize: null;

$dynamic-form-element-subheading-textalign: null;
$dynamic-form-element-subheading-padding-top: null;
$dynamic-form-element-subheading-margin: null;
$dynamic-form-element-subheading-text-transform: null;

$dynamic-form-required-color: $color-global-error;

$dynamic-form-element-label-fontsize: null;
$dynamic-form-element-label-fontweight: null;
$dynamic-form-element-label-margin: null;

$dynamic-form-input-element-padding: 1em;
$dynamic-form-input-element-text-align: null;
$dynamic-form-input-element-box-shadow: inset 0 1px 1px transparent, 0 0 8px $font-global-color;

$dynamic-form-dropdown-element-position: relative;
$dynamic-form-dropdown-element-margin: null;
$dynamic-form-dropdown-element-padding: 1em 60px 1em 1em;
$dynamic-form-dropdown-element-font-size: $font-global-size;
$dynamic-form-dropdown-element-top: 25px;
$dynamic-form-dropdown-element-right: 1em;
$dynamic-form-dropdown-element-border-top: 1px solid;
$dynamic-form-dropdown-element-border-other: 1px solid transparent;
$dynamic-form-dropdown-element-width: 50px;
$dynamic-form-dropdown-element-background: transparent;

$dynamic-form-checkbox-element-zindex: 1;
$dynamic-form-checkbox-element-after-top: 3px;
$dynamic-form-checkbox-element-after-width: 20px;
$dynamic-form-checkbox-element-transform: rotate(-45deg);
$dynamic-form-checkbox-element-background-color: transparent;
$dynamic-form-checkbox-element-border: 2.5px solid $font-global-color;
$dynamic-form-checkbox-element-top: 8px;
$dynamic-form-checkbox-element-height: 7px;
$dynamic-form-checkbox-element-width: 16px;
$dynamic-form-checkbox-element-left: 2px;


$dynamic-form-element-border: 1px solid $font-global-color;
$dynamic-form-global-value-none: none;
$dynamic-form-global-value-100pc: 100%;
$dynamic-form-global-value-auto: auto;
$dynamic-form-global-value-zero: 0;
$dynamic-form-global-position-absolute: absolute;
$dynamic-form-global-cursor-pointer: pointer;
$dynamic-form-content-blank: "";
$dynamic-form-global-margin-auto: null;
$dynamic-form-element-subheading-display:block;
$dynamic-form-contact-form-margin-auto: 0.75em auto;
$dynamic-form-contact-form-max-width: 800px;

$dynamic-form-component-content-margin: null;
$dynamic-form-control-group-margin-bottom: null;

$dynamic-form-checkbox-label-text-padding-left: 30px;

$dynamic-form-privacy-policy-subheading-text-transform: inherit;

$dynamic-form-legal-info-optins-font-style: null;
$dynamic-form-legal-info-optins-margin-bottom: 1.5em;
$dynamic-form-legal-info-optins-font-size: null;
$dynamic-form-legal-info-optins-line-height: null;
$dynamic-form-legal-info-optins-optInLinks-border: 2px solid transparent;


$dynamic-form-color-primary-dark: null;
$dynamic-form-color-secondary: null;
$dynamic-form-background-color: null;
$dynamic-form-global-padding: 48px 12px 0;


$dynamic-form-success-msg-text-align:center;
$dynamic-form-success-msg-text-heading-font-weight:400;
$dynamic-form-success-msg-text-heading-font-size:2.7rem;
$dynamic-form-success-msg-text-heading-line-height:1.33;
$dynamic-form-success-msg-text-margin-bottom:10px;

$dynamic-form-success-msg-text-desc-font-size:1.7rem;
$dynamic-form-success-msg-text-desc-line-height:1.2;

$dynamic-form-success-msg-text-btn-font-size:1.6rem;
$dynamic-form-success-msg-text-btn-line-height:1.25;
$dynamic-form-success-msg-text-btn-border: 1px solid #5a5a5a;

$dynamic-form-success-msg-text-btn-border-radius: 1.5px;
$dynamic-form-success-msg-text-btn-position:relative;
$dynamic-form-success-msg-text-btn-margin-bottom: 0px;
$dynamic-form-success-msg-text-btn-bottom:0px;
$dynamic-form-success-msg-text-btn-letter-spacing: normal;
$dynamic-form-success-msg-text-btn-text-transform:none;

$text-form-button-height: 43px;
$text-form-button-border-radius: 1.79px;
$text-form-button-margin-bottom:50px;
$text-form-button-anchor-font-size: 19px;
$text-form-button-anchor-line-height: 1.42;
$text-form-button-span-padding: 7px;

$dynamic-form-contact-form-max-width-tablet:700px;
$dynamic-form-optins-text-decoration: null;