$footer-experiencefragment-color: null;
$footer-experiencefragment-font-weight: normal;
$footer-experiencefragment-font-size: null;
$footer-experiencefragment-text-align: null;
$footer-experiencefragment-background: null;
$footer-experiencefragment-padding: null;
$footer-experiencefragment-font-family: null;
$footer-experiencefragment-text-transform: null;
$footer-experiencefragment-letter-spacing: null;
$footer-experiencefragment-text-decoration: null;
$footer-experiencefragment-list-width: null;
$footer-experiencefragment-ul-list-style: none;
$footer-experiencefragment-ul-padding: null;
$footer-experiencefragment-ul-li-margin: 0;
$footer-experiencefragment-ul-font-family: null;
$footer-experiencefragment-image-margin: 0 auto;
$footer-experiencefragment-image-width: null;
$footer-container-child-margin: 1em;
$footer-container-child-margin-top: null;
$footer-container-child-width: 100%;
$footer-container-child-display: null;
$footer-container-child-flex-direction: null;
$footer-container-child-three-display: null;
$footer-container-child-three-margin: null;
$footer-container-child-three-width: null;
$footer-container-child-three-overflow: null;
$footer-container-child-four-margin: 2em auto 1em auto;
$footer-container-button-background: null;