$form-widget-container-overflow: auto;
$form-widget-mandatory-fields-indicator-padding: null;
$form-widget-form-max-width: null;
$form-widget-form-width: null;
$form-widget-form-margin: 0px;
$form-widget-form-padding: null;
$form-widget-form-para-font-weight: null;
$form-widget-form-para-display: null;
$form-widget-form-para-margin: 0px;
$form-widget-form-para-padding: null;
$form-widget-form-para-border: null;
$form-widget-form-para-text-decoration: none;
$form-widget-form-para-width: null;
$form-widget-form-para-float: null;
$form-widget-form-para-border-radius: null;
$form-widget-form-para-font-size: null;
$form-widget-form-para-color: null;
$form-widget-form-para-text-align: null;
$form-widget-form-para-font-family: null;
$form-widget-form-para-box-sizing: null;
$form-widget-form-para-padding-bottom: null;
$form-widget-form-anchor-color: null;
$form-widget-form-btn-info-background-color: none;
$form-widget-form-btn-info-cursor: null;
$form-widget-form-btn-info-height: null;
$form-widget-form-btn-info-border-radius: null;
$form-widget-form-btn-info-color: null;
$form-widget-form-btn-info-align-content: null;
$form-widget-form-btn-info-text-align: null;
$form-widget-form-btn-info-font-size: null;
$form-widget-form-btn-info-line-height: null;
$form-widget-form-btn-info-padding: null;
$form-widget-form-btn-info-margin-bottom: null;
$form-widget-form-btn-hover-background-color: none;
$form-widget-form-group-control-label-padding-bottom: null;
$form-widget-form-group-input-border-radius: null;
$form-widget-form-group-input-border: null;
$form-widget-form-group-input-box-sizing: null;
$form-widget-form-group-input-margin-bottom: null;
$form-widget-form-group-input-padding-left: null;
$form-widget-form-group-input-focus-border: null;
$form-widget-form-group-input-box-shadow: null;

$form-widget-form-group-checkbox-margin: null;
$form-widget-form-group-checkbox-font-weight: null;
$form-widget-form-group-checkbox-display: null;
$form-widget-form-group-required-color: null;

$form-widget-firstname-float:null;
$form-widget-firstname-width:49%;
$form-widget-lastname-margin-left:2%;

$form-widget-help-block-margin-top:-5px;
$form-widget-help-block-font-weight:400;