$forms-global-form-margin: 1em 0 1.5em;
$forms-global-form-padding: 0;

$forms-global-fieldset-margin: 0;
$forms-global-fieldset-padding: 0;
$forms-global-fieldset-border: 0;

$forms-global-legend-padding: 0;

$forms-global-label-margin: 1.5em 0 0.5em;
$forms-global-label-display: inline-block;

$forms-global-input-font-size: $font-global-size;
$forms-global-input-margin: 0.5em 0 1.5em;

$forms-global-textarea-font-size: $font-global-size;
$forms-global-textarea-margin: 0.5em 0 1.5em;
$forms-global-textarea-padding: $font-global-size;

$forms-global-select-margin: 0.5em 0 1.5em;

$forms-global-button-margin: 0.5em 0 1.5em;
