$headline-wrapper-align-items: center;
$headline-wrapper-display: null;
$headline-wrapper-flex-direction: null;
$headline-wrapper-flex-wrap: null;
$headline-wrapper-justify-content: null;
$headline-wrapper-width: null;
$headline-wrapper-tablet-flex-direction: null;
$headline-avatar-flex: 0 0 auto;
$headline-avatar-width: null;
$headline-title-flex: 1 0 auto;
$headline-title-padding-left: null;