$header-primary-container-font-weight: null;
$header-primary-container-font-size: null;
$header-primary-container-background: $color-global-primary;
$header-primary-container-text-align: null;
$header-primary-container-padding: 0;
$header-primary-container-position: null;
$header-primary-container-top-position: null;
$header-primary-container-left-position: null;
$header-primary-container-right-position: null;
$header-primary-container-width: null;
$header-primary-container-zindex: null;

$header-primary-cmp-image-link-padding: 0;

$header-primary-cmp-image-title-position: null;
$header-primary-cmp-image-title-width: null;
$header-primary-cmp-image-title-height: null;
$header-primary-cmp-image-title-padding: 0;
$header-primary-cmp-image-title-margin: 0;
$header-primary-cmp-image-title-overflow: null;
$header-primary-cmp-image-title-clip: null;
$header-primary-cmp-image-title-white-space: null; 
$header-primary-cmp-image-title-border: null;

$header-primary-cmp-image-width-tablet: null;

$header-primary-mobilenav-background: null;
$header-primary-mobilenav-zindex: 1;
$header-primary-mobilenav-width: null;
$header-primary-mobilenav-position: null;
$header-primary-mobilenav-height: null;
$header-primary-mobilenav-overflow-y: null;
$header-primary-mobilenav-top: null;

$header-primary-ul-list-style: null;
$header-primary-ul-margin: 0;
$header-primary-ul-padding: 0;
$header-primary-ul-display: null;
$header-primary-ul-desktop-display: null;
$header-primary-ul-desktop-padding: null;
$header-primary-ul-desktop-animation-name: null;

$header-primary-li-display: null;
$header-primary-li-padding: 0;
$header-primary-li-border-bottom: null;
$header-primary-li-desktop-margin: null;
$header-primary-li-desktop-display: null;
$header-primary-li-desktop-border-bottom: null;
$header-primary-li-desktop-animation-name: null;

$header-primary-link-font-size: null;
$header-primary-link-line-height: null;
$header-primary-link-letter-spacing: null;
$header-primary-link-transition: null;
$header-primary-link-color: null;
$header-primary-link-text-decoration: null;
$header-primary-link-font-weight: null;
$header-primary-link-font-family: null;
$header-primary-link-padding: 0;
$header-primary-link-display: null;
$header-primary-link-text-align: null;
$header-primary-link-text-transform: null;
$header-primary-link-desktop-font-size: null;
$header-primary-link-desktop-color: null;
$header-primary-link-desktop-text-decoration: null;
$header-primary-link-desktop-padding: null;
$header-primary-link-desktop-letter-spacing: null;

$header-primary-image-width: null;
$header-primary-image-display: inline-block;
$header-primary-image-desktop-width: null;

$header-primary-button-width: 0;
$header-primary-button-height: null;
$header-primary-button-display: null;
$header-primary-button-position: null;

$header-primary-container-button-left: 0;
$header-primary-container-button-right: null;
$header-primary-container-button-display: null;
$header-primary-container-button-width: null;
$header-primary-container-button-height: null;

$header-primary-buttoncmp-width: 0;
$header-primary-buttoncmp-height: null;
$header-primary-buttoncmp-color: null;
$header-primary-buttoncmp-font-size: null;
$header-primary-buttoncmp-font-family: null;
$header-primary-buttoncmp-font-weight: null;
$header-primary-buttoncmp-letter-spacing: null;
$header-primary-buttoncmp-text-indent: null;
$header-primary-buttoncmp-border: null;
$header-primary-buttoncmp-background: null;
$header-primary-buttoncmp-padding: 0;
$header-primary-buttoncmp-overflow: null;
$header-primary-buttoncmp-position: null;

$header-primary-buttoncmp-desktop-width: null;
$header-primary-buttoncmp-desktop-height: null;
$header-primary-buttoncmp-desktop-text-indent: 0;
$header-primary-buttoncmp-desktop-position: null;
$header-primary-buttoncmp-desktop-outline: null;

$header-primary-slideinleft-visibility: visible;
$header-primary-slideinleft-transform-from: translate3d(-100%,0,0);
$header-primary-slideinleft-transform-to: translate3d(0,0,0);

$header-primary-cmp-button-second-left: 0;
$header-primary-cmp-button-second-child-width: null;
$header-primary-cmp-button-second-child-height: null;
$header-primary-cmp-button-second-child-content: null;
$header-primary-cmp-button-second-child-background-color: null;
$header-primary-cmp-button-second-child-transition: null;
$header-primary-cmp-button-second-child-position: null;
$header-primary-cmp-button-second-child-left: null;
$header-primary-cmp-button-second-before-top: null;
$header-primary-cmp-button-second-after-top: null;
$header-primary-cmp-button-second-icon-top: null;
$header-primary-cmp-button-second-menu-icon-before-top: null;
$header-primary-cmp-button-second-menu-icon-before-transform: null;
$header-primary-cmp-button-second-menu-icon-after-top: null;
$header-primary-cmp-button-second-menu-icon-after-transform: null;
$header-primary-cmp-button-second-menu-icon-width: null;
$header-primary-cmp-button-second-display-tablet: null;

$header-primary-cmp-button-third-right: null;
$header-primary-cmp-button-third-before-width: null;
$header-primary-cmp-button-third-before-height: null;
$header-primary-cmp-button-third-before-content: null;
$header-primary-cmp-button-third-before-background-image: null;
$header-primary-cmp-button-third-before-background-size: null;
$header-primary-cmp-button-third-before-display: null;
$header-primary-cmp-button-third-before-float: null;
$header-primary-cmp-button-third-before-margin-right: 0;
$header-primary-cmp-button-third-width-tablet: null;
$header-primary-cmp-button-third-height-tablet: null;

$header-primary-navigation-tablet-width: null;
$header-primary-navigation-tablet-margin-left: null;
