$language-selector-container-padding: 0;

$language-selector-wrapper-display: null;
$language-selector-wrapper-margin: 0;

$language-selector-list-wrapper-margin: 0;
$language-selector-list-wrapper-padding: 0;
$language-selector-list-wrapper-list-style: null;
$language-selector-list-wrapper-text-align: null;
$language-selector-list-wrapper-font-weight: null;
$language-selector-list-wrapper-font-family: null;

$language-selector-list-item-display: inline-block;

$language-selector-link-border-radius: null;
$language-selector-link-padding: 0;
$language-selector-link-margin: 0;
$language-selector-link-display: null;
$language-selector-link-border: null;
$language-selector-link-visited-text-transform: null;
$language-selector-link-visited-letter-spacing: null;
$language-selector-link-visited-font-size: null;
$language-selector-link-visited-text-decoration: null;
$language-selector-link-font-size-desktop: null;
$language-selector-link-font-size-tablet: null;

$language-selector-link-active-border: 0;