$media-gallery-v2-global-value-none:none;
$media-gallery-v2-global-value-100pc:100%;
$media-gallery-v2-global-value-50pc:50%;
$media-gallery-v2-global-value-300px:300px;
$media-gallery-v2-global-value-relative:relative;
$media-gallery-v2-global-value-absolute:absolute;
$media-gallery-v2-global-value-transparent:transparent;
$media-gallery-v2-global-value-20px:20px;
$media-gallery-v2-global-value-30px:30px;
$media-gallery-v2-global-value-0px:0px;
$media-gallery-v2-global-value-24px:24px;
$media-gallery-v2-global-value-15px:15px;
$media-gallery-v2-global-value-90px:90px;
$media-gallery-v2-global-value-center:center;
$media-gallery-v2-global-value-hidden:hidden;
$media-gallery-v2-global-value-margin-0-auto:0 auto;

$media-gallery-v2-tablet-item-width:null;
$media-gallery-v2-tablet-item-list-display:null;
$media-gallery-v2-tablet-item-list-flex-flow:null;

$media-gallery-v2-second-layout-item-padding:null;
$media-gallery-v2-second-layout-close-background-size:auto;
$media-gallery-v2-second-layout-image-panel-wrap-padding:null;
$media-gallery-v2-second-layout-border-arrow:null;
$media-gallery-v2-second-layout-arrow-display:null;
$media-gallery-v2-second-layout-panel-background-color:null;
$media-gallery-v2-second-layout-panel-z-index:null;
$media-gallery-v2-second-layout-panel-min-height:null;
$media-gallery-v2-second-layout-panel-max-width:null;
$media-gallery-v2-second-layout-arrow-top:null;
$media-gallery-v2-second-layout-arrow-content:"";

$media-gallery-v2-default-layout-max-width:null;
$media-gallery-v2-default-layout-padding: null;
$media-gallery-v2-default-layout-display:flex;
$media-gallery-v2-default-layout-flex-direction: null;
$media-gallery-v2-default-layout-item-list-display: inline-block;
$media-gallery-v2-default-layout-load-more-padding: null;

$media-gallery-v2-default-panel-btn-25px:null;
$media-gallery-v2-default-panel-btn-next-background: url(/assets/magnum/icons/arrow-right.svg) center no-repeat ;
$media-gallery-v2-default-panel-btn-background-size: null;	
$media-gallery-v2-default-panel-btn-background-color: null;
$media-gallery-v2-default-panel-btn-prev-background: url(/assets/magnum/icons/arrow-left.svg) center no-repeat ;

$media-gallery-v2-default-panel-arrow-top: null;
$media-gallery-v2-default-panel-arrow-z-index: null;
$media-gallery-v2-default-panel-arrow-text-indent: null;
$media-gallery-v2-default-panel-arrow-width: null;
$media-gallery-v2-default-panel-arrow-height: null;

$media-gallery-v2-default-panel-caption-background-color: null;
$media-gallery-v2-default-panel-caption-font-weight: null;
$media-gallery-v2-default-panel-caption-font-family: Helvetica,Arial,sans-serif;
$media-gallery-v2-default-panel-caption-color: null;
$media-gallery-v2-default-panel-caption-p-font-size:null;

$media-gallery-v2-default-panel-img-display:block;			
$media-gallery-v2-default-panel-img-max-height: null;
$media-gallery-v2-default-panel-close-background:null;

$media-gallery-v2-default-panel-play-icon-background: null;
$media-gallery-v2-default-panel-play-icon-translate:null;

$media-gallery-v2-default-item-img-transform: null;	
$media-gallery-v2-default-item-img-transition:null;
$media-gallery-v2-default-item-img-height:null;

$media-gallery-v2-default-item-subheading-font-size: null;
$media-gallery-v2-default-item-subheading-line-height: null;
$media-gallery-v2-default-item-subheading-white-space: null;
$media-gallery-v2-default-item-subheading-width: null;
$media-gallery-v2-default-item-subheading-margin-left: null;
$media-gallery-v2-default-item-subheading-background-color: null;
$media-gallery-v2-default-item-subheading-text-transform: null;
$media-gallery-v2-default-item-subheading-padding:null;


$media-gallery-v2-default-panel-z-index:null;
$media-gallery-v2-default-panel-transform: null;
$media-gallery-v2-default-panel-position:null;
$media-gallery-v2-default-panel-box-shadow: null;
$media-gallery-v2-default-panel-max-width: null;
$media-gallery-v2-default-panel-min-height: null;

$media-gallery-v2-thumbnail-img-height:393px;