$modal-display: none;
$modal-height: null;
$modal-width: null;
$modal-position: null;
$modal-top: null;
$modal-left: null;
$modal-bottom: null;
$modal-background: null;
$modal-content-position: absolute;
$modal-content-top: null;
$modal-content-left: null;
$modal-content-transform: null;
$modal-content-background-color: null;
$modal-modal-header-font-size: null;
$modal-modal-header-font-family: $font-secondary;