$parallax-background-wrapper-position: null;
$parallax-background-bg-size: null;
$parallax-background-min-height: null;
$parallax-background-width: null;
$parallax-background-margin: 0;
$parallax-background-display: null;
$parallax-background-justify-content: null;
$parallax-background-align-items: null;
$parallax-background-bg-attachment: null;
$parallax-background-bg-position: null;

$parallax-background-min-height-desktop: null;
$parallax-background-margin-desktop: null;

$parallax-background-min-height-tablet: null;
$parallax-background-margin-tablet: null;

$parallax-background-before-content: null;
$parallax-background-before-position: null;
$parallax-background-before-top-position: null;
$parallax-background-before-bottom-position: null;
$parallax-background-before-left-position: null;
$parallax-background-before-right-position: null;

$parallax-background-heading-line-height: null;
$parallax-background-heading-z-index: null;
$parallax-background-heading-margin-bottom: null;
$parallax-background-heading-padding: null;
$parallax-background-heading-margin: 0;
$parallax-background-heading-text-align: null;
$parallax-background-heading-font-size: null;
$parallax-background-heading-font-weight: null;
$parallax-background-heading-letter-spacing: null;

$parallax-background-heading-font-size-desktop: null;
$parallax-background-heading-letter-spacing-desktop: null;
$parallax-background-heading-font-weight-desktop: null;

$parallax-background-heading-font-size-tablet: null;
$parallax-background-heading-letter-spacing-tablet: null;
$parallax-background-heading-font-weight-tablet: null;




