$form-preference-center-background-color: null;
$form-preference-center-padding: null;
$form-preference-center-overflow: hidden;
$form-gigya-screen-caption-font-size: null;
$form-gigya-screen-caption-text-align: center;
$form-gigya-screen-caption-font-weight: null;
$form-gigya-screen-caption-border-bottom: null;
$form-gigya-screen-caption-text-transform: null;
$form-gigya-screen-portrait-padding-left: 0px;
$form-gigya-screen-portrait-padding-right: null;
$form-gigya-screen-portrait-padding-top: null;
$form-gigya-screen-portrait-width: null;
$form-gigya-screen-portrait-max-width: null;
$form-gigya-input-submit-color: #fff;
$form-gigya-input-submit-border: null;
$form-gigya-input-submit-background: null;
$form-gigya-input-submit-font-size: null;
$form-gigya-input-submit-font-family: null;
$form-gigya-input-submit-letter-spacing: null;
$form-gigya-input-submit-padding: null;
$form-gigya-input-submit-display: null;
$form-gigya-input-submit-width: null;
$form-gigya-input-submit-tablet-font-size: null;
$form-gigya-input-submit-tablet-letter-spacing: null;
$form-gigya-input-submit-tablet-padding: null;
$form-gigya-composite-control-header-font-size: 2.5rem;