$product-media-gallery-container-margin: 0;
$product-media-gallery-container-margin-tablet: null;
$product-media-gallery-container-padding-tablet: null;

$product-media-gallery-wrapper-bg: null;
$product-media-gallery-position-relative: relative;
$product-media-gallery-position-absolute: null;
$product-media-gallery-position-fixed: null;

$product-media-gallery-zoom-button-width: null;
$product-media-gallery-zoom-button-height: null;
$product-media-gallery-zoom-button-padding: null;
$product-media-gallery-zoom-button-border-radius: null;
$product-media-gallery-zoom-button-margin: 0;
$product-media-gallery-zoom-button-top: null;
$product-media-gallery-zoom-button-right: null;
$product-media-gallery-zoom-button-cursor: null;

$product-media-gallery-zoom-icon-content: null;
$product-media-gallery-zoom-icon-font-size: null;
$product-media-gallery-zoom-icon-top: null;
$product-media-gallery-zoom-icon-left: null;
$product-media-gallery-zoom-icon-color: null;

$product-media-gallery-img-display: null;
$product-media-gallery-img-max-width: null;
$product-media-gallery-img-margin: 0;
$product-media-gallery-img-padding: null;

$product-media-gallery-modal-width: null;
$product-media-gallery-modal-height: null;
$product-media-gallery-modal-top: null;
$product-media-gallery-modal-left: null;
$product-media-gallery-modal-opacity: 0;
$product-media-gallery-modal-visibility: null;
$product-media-gallery-modal-transition: null;
$product-media-gallery-modal-bg-repeat: null;
$product-media-gallery-modal-bg-attachment: null;
$product-media-gallery-modal-bg-position: null;

$product-media-gallery-modal-show-opacity: 1;
$product-media-gallery-modal-show-visibility: null;
$product-media-gallery-modal-show-transition: null;