$productlist-primary-item-list-style: null;
$productlist-primary-item-list-width: null;
$productlist-primary-item-list-margin: null;
$productlist-primary-item-list-clear: null;
$productlist-primary-item-list-padding-left: null;
$productlist-primary-item-list-padding-right: null;

$productlist-primary-image-width: null;
$productlist-primary-image-margin-bottom: null;
$productlist-primary-image-float: null;
$productlist-primary-image-padding-right: 0;

$productlist-primary-content-position: null;
$productlist-primary-content-left: null;
$productlist-primary-content-letter-spacing: null;
$productlist-primary-content-transform: null;
$productlist-primary-content-float: null;
$productlist-primary-content-width: null;
$productlist-primary-content-text-align: left;

$productlist-primary-description-font-size: null;
$productlist-primary-description-color: null;
$productlist-primary-description-margin-bottom: null;
$productlist-primary-description-mobile-font-size: 1.80rem;
$productlist-primary-description-letter-spacing:normal;
$productlist-primary-description-text-transform:none;
$productlist-primary-description-sub-font-size: null;
$productlist-primary-description-sub-mobile-font-size: 1.25rem;

$productlist-primary-title-font-size: null;
$productlist-primary-title-letter-spacing: null;
$productlist-primary-title-color: null;
$productlist-primary-title-margin-bottom: 12px;
$productlist-primary-pretitle-font-size: 1.3rem;
$productlist-primary-pretitle-line-height: 1.3;
$productlist-primary-pretitle-letter-spacing: 0.2em;

$productlist-primary-title-link-font-weight: null;
$productlist-primary-title-link-text-decoration: none;

$productlist-primary-item-list-padding:null;
$productlist-primary-item-list-font-family:null;

$productarticle-primary-image-margin-bottom:0px;
$productarticle-primary-content-text-align:left;
$productarticle-primary-description-line-height: 1.177;
$productarticle-primary-description-font-size: 1.7rem;
$productarticle-primary-description-font-weight: 400;
$productarticle-primary-description-text-transform: none;
$productarticle-primary-pretitle-font-size: 1.8rem;
$productarticle-primary-pretitle-font-family: Georgia,serif;
$productarticle-primary-pretitle-line-height: 1.334;
$productarticle-primary-pretitle-margin-bottom:0;
$productarticle-primary-pretitle-letter-spacing: normal;
$productarticle-primary-title-text-transform: none;
$productarticle-primary-title-font-size: 2.7rem;
$productarticle-primary-title-font-weight: 400;
$productarticle-primary-title-margin-bottom: 0;
$productarticle-primary-title-alink-line-height: 1.334;
$productarticle-primary-title-alink-letter-spacing: normal;
$color-magnum-secondary-grey:#666;
