
$productnutrients-primary-table-background-color: null;
$productnutrients-primary-table-padding:null;
$productnutrients-primary-table-tr-td-text-align: center;
$productnutrients-primary-table-tr-td-color: $color-global-grey-50;
$productnutrients-primary-table-tr-th-color: null;
$productnutrients-primary-table-tr-th-font-size: 1.4rem;
$productnutrients-primary-table-tr-first-child-th-color: null;
$productnutrients-primary-table-tr-th-font-size-mobile:null;
$productnutrients-primary-table-tr-td-font-size:null;
$productnutrients-primary-table-tr-th-padding-left-mobile:null;
$productnutrients-primary-table-tr-th-padding-left:null;

$productnutrients-primary-info-item-padding-bottom: 28px;

$productnutrients-primary-product-info-item-wrapper-margin-right: auto;
$productnutrients-primary-product-info-item-wrapper-margin-left: auto;
$productnutrients-primary-product-info-item-wrapper-padding-left: 15px;
$productnutrients-primary-product-info-item-wrapper-padding-right: 15px;

$productnutrients-primary-product-info-item-heading-text-letter-spacing: .32rem;
$productnutrients-primary-product-info-item-heading-text-margin: 0;
$productnutrients-primary-product-info-item-heading-text-font-family:$font-secondary;
$productnutrients-primary-product-info-item-heading-text-font-size: 1.6rem;
$productnutrients-primary-product-info-item-heading-text-color: null;
$productnutrients-primary-product-info-item-heading-text-margin-bottom: 0;
$productnutrients-primary-product-info-item-heading-text-text-align: left;
$productnutrients-primary-product-info-item-heading-text-font-weight: 400;

$productnutrients-primary-product-info-item-item-font-size: 1.6rem;
$productnutrients-primary-product-info-item-item-padding: 0px 0 28px 0;
$productnutrients-primary-product-info-item-item-text-align: left;
$productnutrients-primary-product-info-item-item-color: null;

$productnutrients-primary-product-info-item-padding:24px 15px;
$productnutrients-primary-accordion-product-info-item-padding: 24px 15px;
$productnutrients-primary-product-info-item-margin-0:0px;
$productnutrients-primary-product-info-item-item-line-height:null;
$productnutrients-primary-product-info-item-margin-top: 40px;
$productnutrients-primary-product-info-item-padding-bottom: null;
$productnutrients-primary-product-info-item-margin-custom: 0;
