$productcarousel-primary-text-align: null;
$productcarousel-primary-overflow: null;
$productcarousel-primary-image-height: null;

$productcarousel-primary-title-font-family: null;
$productcarousel-primary-title-font-size: null;
$productcarousel-primary-title-font-weight: null;
$productcarousel-primary-title-color: null;
$productcarousel-primary-title-line-height: null;
$productcarousel-primary-title-margin: null;
$productcarousel-primary-title-padding-bottom: null;
$productcarousel-primary-title-text-transform:null;

$productcarousel-primary-container-position: null;
$productcarousel-primary-container-margin: null;
$productcarousel-primary-container-width: null;
$productcarousel-primary-container-desktop-width: null;
$productcarousel-primary-container-desktop-wide-width: null;

$productcarousel-primary-card-font-family: null;
$productcarousel-primary-card-font-size: null;
$productcarousel-primary-card-desktop-font-size: null;
$productcarousel-primary-card-font-weight: null;
$productcarousel-primary-card-border: null;
$productcarousel-primary-card-float: null;
$productcarousel-primary-card-width: null;
$productcarousel-primary-card-desktop-width: null;

$productcarousel-primary-link-color: null;
$productcarousel-primary-link-text-decoration: null;
$productcarousel-primary-link-hover-color: null;

$productcarousel-primary-btn-background: null;
$productcarousel-primary-btn-border: null;
$productcarousel-primary-btn-box-shadow: null;
$productcarousel-primary-btn-outline: null;
$productcarousel-primary-btn-cursor: null;
$productcarousel-primary-btn-height: null;
$productcarousel-primary-btn-margin-top: null;
$productcarousel-primary-btn-position: null;
$productcarousel-primary-btn-top: null;
$productcarousel-primary-btn-width: null;
$productcarousel-primary-desktop-btn-top: null;

$productcarousel-primary-btnnext-border-bottom: null;
$productcarousel-primary-btnnext-border-right: null;
$productcarousel-primary-btnnext-right: null;
$productcarousel-primary-btnnext-transform: null;
$productcarousel-primary-btnnext-desktop-right: null;

$productcarousel-primary-btnprev-border-bottom: null;
$productcarousel-primary-btnprev-border-left: null;
$productcarousel-primary-btnprev-left: null;
$productcarousel-primary-btnprev-transform: null;
$productcarousel-primary-btnprev-desktop-left: null;

$productcarousel-theme-card__content-fontSize--tertiary:1.6rem;
$productcarousel-theme-card__content-fontSize--desktop--tertiary:null;
$productcarousel-theme-card__content-padding--tertiary:null;
$productcarousel-theme-card__content-color--tertiary:null;
$productcarousel-theme-card__image-padding--tertiary:null;

$productcarousel-related-products-fixed-position:null;
$productcarousel-related-products-fixed-left:null;
$productcarousel-related-products-fixed-bottom:null;
$productcarousel-related-products-fixed-background:null;
$productcarousel-related-products-fixed-z-index:null;
$productcarousel-related-products-fixed-box-shadow:0.5px 0.5px 4px 0 #ccc;
$productcarousel-related-products-fixed-margin:null;
$productcarousel-related-products-fixed-opacity:null;
$productcarousel-related-products-fixed-transition:null;

$productcarousel-related-products-fixed-width:null;
$productcarousel-related-products-fixed-top:null;
$productcarousel-related-products-fixed-height:null;

$productcarousel-related-products-fixed-productcarousel-container-width:null;
$productcarousel-related-products-fixed-product-card-width:null;
$productcarousel-related-products-fixed-product-card-font-size:1.3rem;

$productcarousel-related-products-fixed-product-image-max-width:null;

$productcarousel-related-products-fixed-productcarousel-btn-width:null;
$productcarousel-related-products-fixed-productcarousel-btn-height:null;

$productcarousel-related-products-fixed-productcarousel-btn-prev-left:null;
$productcarousel-related-products-fixed-productcarousel-btn-next-right:null;

$productcarousel-related-products-fixed-productcarousel-title-letter-spacing:null;
$productcarousel-related-products-fixed-productcarousel-title-font-size:1.3rem;
$productcarousel-related-products-fixed-productcarousel-title-color:null;
$productcarousel-related-products-fixed-productcarousel-title-font-weight:500;
$productcarousel-related-products-fixed-productcarousel-title-text-transform:null;
$productcarousel-related-products-fixed-productcarousel-title-padding-bottom:null;

$productcarousel-related-products-surpassed-margin:-100%;
$productcarousel-related-products-surpassed-opacity: 0;

$productcarousel-related-products-fixed-productcarousel-container-desk-display:block;
$productcarousel-related-products-fixed-productcarousel-container-desk-margin:2.5rem auto;