$review-rating-primary-font-family: $font-primary !important;
$review-rating-primary-font-weight: null;
$review-rating-primary-display: null;
$review-rating-aggRtng-kr-stars-fill-color: transparent;
$review-rating-kr-percent-display: inline-block;
$review-rating-screenreader-position: null;
$review-rating-kr-aggregateRating-position: null;
$review-rating-kr-rating-bar-overflow: null;
$review-rating-kr-rating-bar-filled-vertical-align: null;
$review-rating-kr-helpful-direction: null;
$review-rating-kr-helpful-font-variant: null;
$review-rating-kr-rating-summary-block-padding: null;
$review-rating-kr-readpanel-reviews-padding-left: null;
$review-rating-kr-readpanel-reviews-padding-right: null;
$review-rating-kr-facebook-icon-padding: null;
$review-rating-write-review-btn-padding: null;
$review-rating-kr-rating-container-padding: 15px;
$review-rating-kr-readpanel-reviews-padding: 20px;
$review-rating-kr-panel-padding: 0 12px;
$review-rating-kr-readpanel-header-background: null;
$review-rating-aggRtng-kr-stars-background: linear-gradient(90deg, #c79652 var(--percent), #ccc var(--percent));
$review-rating-kr-readpanel-header-display: null;
$review-rating-kr-share-tooltip-direction: null;
$review-rating-kr-readpanel-header-align-items: null;
$review-rating-kr-right-section-align-items: null;
$review-rating-kr-no-rating-summary-justify-content: center;
$review-rating-kr-filter-container-flex-direction: row;
$review-rating-kr-feedback-container-justify-content: space-between;
$review-rating-kr-averageRingBlock2-justify-content: space-around;
$review-rating-kr-averageRingBlock2-flex-wrap: wrap;
$review-rating-kr-readpanel-header-margin-bottom: null;
$review-rating-kr-readpanel-header-flex-direction: column;
$review-rating-kr-readpanel-header-title-font-weight: null;
$review-rating-kr-readpanel-tablet-header-title-font-weight: null;
$review-rating-kr-sort-container-font-size: null;
$review-rating-kr-sort-container-tablet-font-size: null;
$review-rating-kr-pagination-text-font-size: 1.4rem;
$review-rating-kr-responder-name-font-size: null;
$review-rating-verified-user-text-font-size: 1.6rem;
$review-rating-kr-review-count-header-font-size: null;
$review-rating-kr-tReview-font-size: 1.8rem;
$review-rating-kr-review-title-font-size: 2.4rem;
$review-rating-kr-readpanel-header-title-font-size: 2.8rem;
$review-rating-kr-writeReview-heading-font-size: null;
$review-rating-kr-writeReview-tablet-heading-font-size: null;
$review-rating-kr-readpanel-header-tablet-title-font-size: null;
$review-rating-kr-aggRtng-font-size: null;
$review-rating-kr-aggRtng-line-height: null;
$review-rating-kr-readpanel-header-title-line-height: null;
$review-rating-kr-aggregateRating-line-height: null;
$review-rating-kr-ratingbar-line-height: null;
$review-rating-kr-readpanel-header-title-margin-bottom: null;
$review-rating-kr-readpanel-header-title-text-align: null;
$review-rating-kr-right-review-area-text-align: center;
$review-rating-kr-share-tooltip-top: null;
$review-rating-kr-readpanel-header-title-width: 100%;
$review-rating-kr-averageRingBlock2-margin-bottom: null;
$review-rating-kr-rating-summary-block-margin-top: 0;
$review-rating-kr-averageRingBlock2-margin-top: 0;
$review-rating-kr-share-icon-margin-left: 2px;
$review-rating-kr-right-section-margin-left: 5px;
$review-rating-review-media-margin-bottom: 8px;
$review-rating-kr-rating-count-title-margin-bottom: 10px;
$review-rating-kr-review-title-margin-bottom: 15px;
$review-rating-kr-sort-by-select-margin-right: 18px;
$review-rating-kr-average-rating-margin-top: 30px;
$review-rating-kr-sort-container-margin-bottom: 34px;
$review-rating-kr-right-review-area-margin-top: 50px;
$review-rating-kr-average-rating-order: 1;
$review-rating-kr-rating-summary-block-order: 2;
$review-rating-kr-rating-tablet-summary-block-order: 3;
$review-rating-kr-aggregateRating-height: 18px;
$review-rating-kr-rating-summary-block-height: auto;
$review-rating-kr-pdRating-cursor: default;
$review-rating-kr-filter-cta-cursor: pointer;
$review-rating-kr-star-icon-svg-color: #c79652;
$review-rating-kr-pdRating-color: #686c75;
$review-rating-kr-rating-count-title-color: #000000;
$review-rating-kr-rating-summary-block-clear: both;
$review-rating-kr-rating-summary-block-table-border-spacing: 0;
$review-rating-write-review-btn-border: 1px solid #ccc;
$review-rating-kr-rating-bar-border: 1px solid #c79652;
$review-rating-kr-share-tooltip-border: 5px solid transparent;
$review-rating-kr-share-tooltip-before-border: null;
$review-rating-write-review-btn-border-radius: 2px;
$review-rating-write-review-btn-color: #fff;
$review-rating-kr-hide-display: none;
$review-rating-kr-morelink-text-decoration: underline;
$review-rating-kr-share-tooltip-box-shadow: 0 2px 4px 0 rgba(102, 101, 101, 0.5);
$review-rating-aggRtng-kr-star-content: '★★★★★';
$review-rating-kr-share-tooltip-content: "";
$review-rating-kr-share-tooltip-transform: translateY(-50%);
$review-rating-kr-facebook-icon-background: no-repeat;
$review-rating-kr-facebook-icon-background-size: contain;
$review-rating-aggRtng-kr-stars-storke: null;
$review-rating-kr-comments-letter-spacing: normal;
$review-rating-aggRtng-kr-stars-letter-spacing: 0;
$review-rating-screenreader-opacity: 0;
$review-rating-kr-pdRating-margin-top: 5px;
$review-rating-kr-aggregateRating-margin-top: 10px;
$review-rating-aggRtng-kr-stars-background-clip: text;
$review-rating-kr-rating-summary-block-width: 355px;
$review-rating-kr-filter-cta-width: 281px;
$review-rating-kr-socialBtn-width: 50px;
$review-rating-kr-reportBtn-anchor-min-width: 35px;
$review-rating-kr-share-tooltip-min-width: 80px;
$review-rating-kr-averageRingBlock2-max-width: 930px;
$review-rating-kr-sort-by-select-max-width: 150px;
$review-rating-kr-right-review-area-height: 48px;
$review-rating-kr-helpfulBtn-height: 45px;
$review-rating-kr-right-review-area-min-height: 46px;
$review-rating-kr-ratingbar-col-padding: 6px 16px;
$review-rating-kr-sort-by-select-padding: 6px 10px;
$review-rating-kr-share-tooltip-padding: 5px 10px;
$review-rating-global-value-ratingbar-td-padding: 0 2px;
$review-rating-kr-ratingbar-td-white-space: nowrap;
$review-rating-global-value-star-icon-svg-width: 12px;
$review-rating-global-value-star-icon-svg-height: 12px;
$review-rating-kr-share-alignment-change-left: 100px;
$review-rating-kr-share-alignment-tablet-change-left: -200px;
$review-rating-kr-aggregateRating-tablet-height: 21px;
$review-rating-kr-share-tooltip-tablet-transform: translateY(-50%) rotate(180deg);