$searchbar-container-background-color: $color-global-primary;
$searchbar-container-display: null;
$searchbar-container-position: null;
$searchbar-container-top: 0;
$searchbar-container-right: null;
$searchbar-container-text-align: null;
$searchbar-container-right-tablet: null;

$searchbar-cmp-button-display: null;
$searchbar-cmp-button-align-items: null;
$searchbar-cmp-button-width: null;
$searchbar-cmp-button-height: null;
$searchbar-cmp-button-color: null;
$searchbar-cmp-button-font-size: null;
$searchbar-cmp-button-font-family: null;
$searchbar-cmp-button-font-weight: null;
$searchbar-cmp-button-letter-spacing: null;
$searchbar-cmp-button-text-indent: null;
$searchbar-cmp-button-border: null;
$searchbar-cmp-button-background: null;
$searchbar-cmp-button-padding: 0;
$searchbar-cmp-button-overflow: null;
$searchbar-cmp-button-line-height: null;

$searchbar-cmp-button-img-width: null;
$searchbar-cmp-button-img-margin-right: 0;
$searchbar-cmp-button-img-height: null;

$searchbar-cmp-button-hover-bg-color: transparent;
$searchbar-cmp-button-hover-color: null;
$searchbar-cmp-button-outline: null;
$searchbar-cmp-button-outline-offset: null;
$searchbar-cmp-button-width-tablet: null;
$searchbar-cmp-button-height-tablet: null;
$searchbar-cmp-button-text-indent-tablet: null;
$searchbar-cmp-button-position-tablet: null;
$searchbar-cmp-button-outline-tablet: null;

$searchbar-wrapper-position: null;

$searchbar-result-wrapper-position: null;
$searchbar-result-wrapper-top: 0;
$searchbar-result-wrapper-left: null;
$searchbar-result-wrapper-width: null;
$searchbar-result-wrapper-display: null;

$searchbar-result-container-top: 0;   
$searchbar-result-container-padding: null;
$searchbar-result-container-max-width: null;
$searchbar-result-container-width: null;
$searchbar-result-container-overflow-y: null;
$searchbar-result-container-max-height: null;

$searchbar-items-padding: 0;
$searchbar-items-font-size: null;
$searchbar-items-cursor: null;
$searchbar-items-font-family: null;
$searchbar-items-font-weight: null;

$searchbar-modal-wrapper-display: null;
$searchbar-modal-wrapper-height: null;
$searchbar-modal-wrapper-width: null;
$searchbar-modal-wrapper-position: null;
$searchbar-modal-wrapper-top: 0;
$searchbar-modal-wrapper-left: null;
$searchbar-modal-wrapper-bottom: null;    
$searchbar-modal-wrapper-background: null;
$searchbar-modal-wrapper-z-index: null;

$searchbar-modal-content-position: null;
$searchbar-modal-content-top: 0;
$searchbar-modal-content-left: null;
$searchbar-modal-content-transform: null;
$searchbar-modal-content-background-color: null;
$searchbar-modal-content-min-width: null;
$searchbar-modal-content-min-width-tablet: null;
$searchbar-modal-content-min-width-desktop: null;

$searchbar-modal-header-position: null;
$searchbar-modal-header-close-border: 0;
$searchbar-modal-header-close-background-color: null;
$searchbar-modal-header-close-font-size: null;
$searchbar-modal-header-close-padding: 0;
$searchbar-modal-header-close-font-weight: null;
$searchbar-modal-header-close-font-family: null;
$searchbar-modal-header-close-position: null;
$searchbar-modal-header-close-top: null;
$searchbar-modal-header-close-transform: null;
$searchbar-modal-header-close-right: null;
$searchbar-modal-header-close-text-shadow: null;
$searchbar-modal-header-close-line-height: null;

$searchbar-modal-body-title-margin: 0;
$searchbar-modal-body-title-padding: 0;
$searchbar-modal-body-title-font-weight: null;
$searchbar-modal-body-title-font-family: null;
$searchbar-modal-body-title-margin: null;
$searchbar-modal-body-title-text-transform: null;        
$searchbar-modal-body-title-font-size: null;
$searchbar-modal-body-title-line-height: null;
$searchbar-modal-body-title-font-size-tablet: null;
$searchbar-modal-body-title-line-height-tablet: null;
$searchbar-modal-body-title-display: null;

$searchbar-form-content-wrapper-position: null;
$searchbar-form-content-wrapper-display: null;
$searchbar-form-content-wrapper-width: null;
$searchbar-form-content-wrapper-border: null;
$searchbar-form-content-form-margin: 0;
$searchbar-form-content-input-margin: 0;
$searchbar-form-content-input-border: null;
$searchbar-form-content-input-padding: null;
$searchbar-form-content-input-color: null;
$searchbar-form-content-input-font-size: null;
$searchbar-form-content-input-font-family: null;
$searchbar-form-content-input-outline: null;
$searchbar-form-content-input-width: null;
$searchbar-form-content-input-background-color: null;
$searchbar-form-content-input-box-shadow: null;
$searchbar-form-content-input-border-radius: null;
$searchbar-form-content-input-height: null;
$searchbar-form-content-button-position: null;
$searchbar-form-content-button-top: null;
$searchbar-form-content-button-right: null;
$searchbar-form-content-button-font-size: null;
$searchbar-form-content-button-margin: null;
$searchbar-form-content-button-padding: null;
$searchbar-form-content-button-line-height: null;
$searchbar-form-content-button-text-transform: null;
$searchbar-form-content-button-letter-spacing: null;
$searchbar-form-content-button-color: null;
$searchbar-form-content-button-background-color: null;
$searchbar-form-content-button-border: null;
$searchbar-form-content-button-border-radius: null;
$searchbar-form-content-button-height: null;
$searchbar-form-content-button-font-family: null;
$searchbar-form-content-button-display: null;
$searchbar-form-content-button-display-tablet: null;