$search-category-heading-font-family: null;
$search-category-heading-font-size: 27px;
$search-category-heading-font-weight: null;
$search-category-heading-line-height: null;
$search-result-card-display: flex;
$search-result-card-align-items: center;
$search-result-card-background: null;
$search-result-card-background-size: null;
$search-result-card-padding: null;
$search-result-card-padding-right: null;
$search-image-margin-right: 15px;
$search-image-width: null;
$search-image-display: null;
$search-image-a-width: null;
$search-details-width: 80%;
$search-details-text-decoration: null;
$search-details-color: null;
$search-details-font-size: null;
$search-details-margin-top: null;
$search-details-margin-bottom: null;
$search-details-text-transform: null;
$search-details-description-font-size: null;
$search-details-breadcrumb-text-transform: null;
$search-details-breadcrumb-margin: null;
$search-list-label-font-size: 1.6rem;
$search-list-label-font-weight: null;
$search-list-label-margin-bottom: null;
$search-list-label-margin-top: null;
$search-no-results-font-size: null;
$search-btn-padding: 6px 24px;
$search-btn-letter-spacing: null;
$search-btn-font-size: null;
$search-btn-line-height: null;
$search-btn-display: null;
$search-btn-transition: null;
$search-btn-background: null;
$search-btn-color: null;
$search-btn-border: null;
$search-btn-margin: null;
$search-preloader-background: null;
$search-preloader-position: relative;
$search-preloader-z-index: null;
$search-preloader-min-height: null;
$search-preloader-text-indent: null;
$search-preloader-content: null;
$search-preloader-display: null;
$search-preloader-width: null;
$search-preloader-height: null;
$search-preloader-margin: null;
$search-preloader-border-radius: null;
$star-rating-font-size: null;
$search-review-counts-font-family: $font-primary;
$search-result-input-background: transparent;
$search-result-input-position: null;
$search-result-input-overflow: null;