$search-bar-title-margin: 0;
$search-bar-title-padding: null;
$search-bar-title-font-weight: null;
$search-bar-title-font-family: null;
$search-bar-title-font-size: null;
$search-bar-title-margin-bottom: null;
$search-bar-title-text-transform: null;
$search-bar-title-margin-right: null;