$search-bar-position: relative;
$search-bar-display: null;
$search-bar-width: null;
$search-bar-border: null;
$search-bar-input-margin: 0;
$search-bar-input-padding: null;
$search-bar-input-border: null;
$search-bar-input-padding: null;
$search-bar-input-color: null;
$search-bar-input-font-size: null;
$search-bar-input-font-family: null;
$search-bar-input-outline: null;
$search-bar-input-text-align: null;
$search-bar-input-background-color: null;
$search-bar-input-box-shadow: null;
$search-bar-input-border-radius: null;
$search-bar-input-height: null;
$search-bar-button-position: null;
$search-bar-button-padding: null;
$search-bar-button-line-height: null;
$search-bar-button-text-transform: null;
$search-bar-button-letter-spacing: null;
$search-bar-button-background-color: null;