$sitemap-container-background: #f5efe6;
$sitemap-cmp-title-margin-top: null;
$sitemap-cmp-title-margin-bottom: null;
$sitemap-cmp-title-text-align: null;
$sitemap-cmp-title-font-size: null;
$sitemap-cmp-title-color: #241201;
$sitemap-cmp-title-font-family: null;
$sitemap-cmp-title-font-weight: null;
$sitemap__list_ul-margin-bottom: null;
$sitemap__list_ul_li-list-list-style: null;
$sitemap__list_ul_li-list-text-align: null;
$sitemap__list_ul_li-color: #241201;
$sitemap__list_ul_li-font-size: null;
$sitemap__list_ul_li-anchor-display: null;
$sitemap__list_ul_li-anchor-margin-bottom: null;
$sitemap__list_ul_li-anchor-transition: null;
$sitemap__list_ul_li-anchor-font-size: null;
$sitemap__list_ul_li-anchor-line-height: null;
$sitemap__list_ul_li-anchor-color: null;
$sitemap__list_ul_li-anchor-font-weight: null;
$sitemap__list_ul_li-anchor-letter-spacing: null;
$sitemap__list_ul_li-anchor-text-decoration: null;
$sitemap__list_ul_li-color-hover: null;