$socialshare-toolbox-text-align: center;
$socialshare-toolbox-display: none;
$socialshare-primary-button-display: inline-block;
$socialshare-primary-button-margin-left: 12px;
$socialshare-primary-button-margin-right: 12px;
$socialshare-primary-button-cursor: pointer;
$socialshare-primary-button-fill: null;
$socialshare-primary-button-transition: all .25s ease;
$socialshare-primary-button-width: 50px;
$socialshare-primary-button-background: 100%;