$teaser-global-position: null;

$teaser-primary-content-color: null;
$teaser-primary-content-text-align: null;
$teaser-primary-content-letter-spacing: null;
$teaser-primary-content-position: null;
$teaser-primary-content-position-left: null;
$teaser-primary-content-position-right: null;
$teaser-primary-content-transform: none;

$teaser-primary-title-color: null;
$teaser-primary-title-font-size: null;
$teaser-primary-title-font-family: null;
$teaser-primary-title-font-weight: null;
$teaser-primary-title-text-transform: none;
$teaser-primary-title-font-size-mobile: null;
$teaser-primary-title-margin: null;
$teaser-primary-title-letter-spacing: null;
$teaser-primary-title-line-height: null;
$teaser-primary-title-line-height-mobile: null;

$teaser-primary-description-color: null;
$teaser-primary-description-font-size: null;
$teaser-primary-description-font-family: null;
$teaser-primary-description-font-weight: null;
$teaser-primary-description-text-transform: none;
$teaser-primary-description-margin: null;
$teaser-primary-description-letter-spacing: null;
$teaser-primary-description-line-height: null;

