$video-container-position: relative;
$video-image-aspect-ratio:16/9;
$video-image-object-fit: cover;
$video-image-tablet-aspect-ratio:2.4;
$video-player-height: auto;
$video-player-min-height: null;
$video-content-position: absolute;
$video-content-top: null;
$video-content-left: null;
$video-content-transform: null;
$video-content-text-align: null;
$video-content-color: null;
$video-content-font-weight: null;
$video-content-width: null;
$video-content-subheading-font-family: $font-secondary;
$video-content-subheading-font-size: null;
$video-content-subheading-margin: null;
$video-content-subheading-tablet-font-size: null;
$video-content-heading-font-family: $font-secondary;
$video-content-heading-font-size: null;
$video-content-heading-margin: null;
$video-content-heading-tablet-font-size: null;
$video-content-description-font-size: null;
$video-content-description-margin: null;
$video-content-description-tablet-font-size: null;
$video-container-playicon-cursor: null;
$video-container-playicon-svg-width: null;
$video-container-playicon-svg-height: null;
$video-container-playicon-svg-tablet-width: null;
$video-container-playicon-svg-tablet-height: null;
$video-container-load-position: absolute;
$video-container-load-left: null;
$video-container-load-top: null;
$video-container-load-width: null;
$video-container-load-height: null;
$video-container-load-overflow: null;