<footer class="m-footer">
	<section>
		<img
			src="../../../assets/images/default-white.png"
			alt="default"
			class="m-footer-logo"
		/>
	</section>
	<section class="social">
		<svg>
			<use
				xlink:href="../../../assets/images/icons/social-facebook.svg#facebook"
			></use>
		</svg>
		<svg>
			<use
				xlink:href="../../../assets/images/icons/social-twitter.svg#twitter"
			></use>
		</svg>
		<svg>
			<use
				xlink:href="../../../assets/images/icons/social-instagram.svg#instagram"
			></use>
		</svg>
		<svg>
			<use
				xlink:href="../../../assets/images/icons/social-youtube.svg#youtube"
			></use>
		</svg>
	</section>
	<section class="link-list">
		<ul>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Store Locator</a></li>
			<li><a href="#">Newsletter signup</a></li>
			<li><a href="#">AdChoices</a></li>
		</ul>
	</section>
	<section class="legal">
		<article class="country-selector">
			United States
			<ul class="inline-list">
				<li><a href="">EN</a></li>
				<li><a href="">FR</a></li>
				<li><a href="">ES</a></li>
				<li><a href="">DE</a></li>
			</ul>
		</article>
		<article>
			<svg>
				<use
					xlink:href="../../../assets/images/Unilever.svg#unilever"
				></use>
			</svg>
			<small>&copy; 2017 Unilever</small>
		</article>
	</section>
</footer>
