<div
	class="
		image
		aem-GridColumn--default--none
		aem-GridColumn
		aem-GridColumn--offset--default--0
		aem-GridColumn--default--2
	"
>
	<div
		data-cmp-lazythreshold="0"
		data-cmp-src="/content/whitelabel/language-masters/en/walls-home/_jcr_content/root/container/container/image_copy.coreimg{.width}.jpeg/1632821911192/walls-c41-section-nav-cornetto-1082763-jpg.jpeg"
		data-asset="/content/dam/walls-dummy/walls_c41_section_nav_cornetto-1082763-jpg.jpg"
		data-asset-id="88fa909e-562d-414b-8db8-507f88c15018"
		id="image-94413892f2"
		data-cmp-data-layer='{"image-94413892f2":{"@type":"core/wcm/components/image/v2/image","repo:modifyDate":"2021-09-28T09:38:31Z","image":{"repo:id":"88fa909e-562d-414b-8db8-507f88c15018","repo:modifyDate":"2021-09-28T09:38:29Z","@type":"image/jpeg","repo:path":"/content/dam/walls-dummy/walls_c41_section_nav_cornetto-1082763-jpg.jpg","xdm:tags":[],"xdm:smartTags":{}}}}'
		class="cmp-image"
		itemscope=""
		itemtype="http://schema.org/ImageObject"
	>
		<img
			src="https://asset-apac.unileversolutions.com/content/dam/unilever/heart/global/general_image/ice_cream/out_of_home_ice_cream/walls_c41_section_nav_magnum-1052606-jpg.jpg.ulenscale.490x490.jpg"
			class="cmp-image__image"
			itemprop="contentUrl"
			data-cmp-hook-image="image"
			alt=""
		/>
	</div>
</div>
