@mixin font-face($font-family, $url) {
	@at-root {
		@font-face {
			font-display: swap;
			font-family: '#{$font-family}';
			font-style: normal;
			font-weight: 400;
			src: url('#{$url}.eot');
			// sass-lint:disable indentation
			src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
				 url('#{$url}.woff2') format('woff2'),
				 url('#{$url}.woff') format('woff'),
				 url('#{$url}.ttf') format('truetype'),
				 url('#{$url}.svg') format('svg');
			// sass-lint:enable indentation
		}
	}
}
