<div class="aem-GridColumn aem-GridColumn--default--8">
	<div class="featured-content type-a" id="${component.id}">
		<div class="featured-content__wrapper">
			<div class="featured-content-copy">
				<div>
					<h2>So, What's the scoop? A streets history</h2>
					<a href="#" class="type-c">Find out more</a>
				</div>
			</div>
			<div class="featured-content-image">
				<img
					src="../../../assets/images/components/au_streets_walls_bkgrd_short_blue-1266792-jpg.jpg.ulenscale.806x384.webp"
				/>
			</div>
		</div>
	</div>
</div>
